@model DeploymentViewModel
@{
    ViewData["Title"] = "Deployment frequency";
}
<h1>Deployment frequency</h1>
@* HTML based on example at https://codepen.io/vmz/pen/GpKbjm*@

<div class="row">
    @foreach (DeploymentPartialViewModel item in Model.Items)
    {
        <div class="col-md-6">
            @if (item.AzureDevOpsDeploymentFrequency != null)
            {
                @await Html.PartialAsync("_AzureDevOpsDeployments", item)
            }
            else if (item.GitHubDeploymentFrequency != null)
            {
                @await Html.PartialAsync("_GitHubDeployments", item)
            }
        </div>
    }
</div>
@*<div class="row">
        <div class="col-md-12">
            What am I looking at?
            Deployment Frequency is a high performing DevOps metric. This page helps us to measure it across various projects in both Azure DevOps and GitHub
            - How does it work? We look at the number of successful pipeline runs
            - Assumptions/things we can't currently measure: The build is multi-stage - and leads to a deployment in a production environment. We only look at the master branch, ignoring feature branches (as these probably aren't deploying to production')
        </div>
    </div>*@