@using DevOpsMetrics.Service.Models.Common
@model List<LeadTimeForChangesModel>
@{
    ViewData["Title"] = "Home Page";
}

<h2>Lead time for changes</h2>
<div class="row">
    @foreach (LeadTimeForChangesModel item in Model)
    {
        <div class="col-md-6">
            @await Html.PartialAsync("_LeadTimeForChanges", item)
        </div>
    }
</div>

<div class="row">
    <div class="col-md-12" style="font-size: 8pt;">
        <b>What am I looking at?</b><br />
        Lead time for changes is a high performing DevOps metric to measure the time it takes to change a line of code and deploy it to production. This page helps us to measure it across various projects in both Azure DevOps and GitHub<br />
        <b>How does it work?</b><br />
        We look at the number of pull requests completed, and within each pull request, the duration between the first and last commits.<br />
        <b>Assumptions/things we can't currently measure:</b><br />
        - As development is variable, we start at the commit. This means we are not including planning or development time<br />
        - We currently just count the pull request time. Later we will include the deployment time, but for now assume that this metric is captured by the deployment frequency metric.
        - We assume that the user requires pull requests to merge work into the master branch.
        - We assume we are following a git flow process, creating feature branches and merging back to the master branch, which is deployed to production on the completion of pull requests
        <br />
    </div>
    <div class="col-md-12" style="font-size: 8pt;">
        <b>Lead time for changes performance rating table</b><br />
        <table class="table">
            <tr>
                <td>Elite</td>
                <td>Less than one day</td>
            </tr>
            <tr>
                <td>High</td>
                <td>Between one day and one week</td>
            </tr>
            <tr>
                <td>Medium</td>
                <td>Between one week and one month</td>
            </tr>
            <tr>
                <td>Low</td>
                <td>Between one month and six months</td>
            </tr>
        </table>
    </div>
</div>