@using DevOpsMetrics.Service.Models
@model List<LeadTimeForChangesPartialViewModel>
@{
    ViewData["Title"] = "Home Page";
}
<h1>Lead time for changes</h1>
<div class="row">
    @foreach (LeadTimeForChangesPartialViewModel item in Model)
    {
    <div class="col-md-6">
        @if (item.AzureDevOpsList != null)
        {
            @await Html.PartialAsync("_AzureDevOpsLeadTimeForChanges", item)
        }
        else if (item.GitHubList != null)
        {
            @await Html.PartialAsync("_GitHubLeadTimeForChanges", item)
        }
    </div>
    }
</div>