@*@using DevOpsMetrics.Service.Models.Common
    @model List<LeadTimeForChangesModel>*@
@{
    ViewData["Title"] = "Home Page";
}

<h2>High performing DevOps metrics</h2>

<div class="row">
    <div class="col-md-12">
        @Html.ActionLink("Deployment Frequency", "DeploymentFrequency","Home")
    </div>
    <div class="col-md-12">
        @Html.ActionLink("Lead time for changes", "LeadTimeForChanges","Home")
    </div>
    <div class="col-md-12">
        Source code can be found at <a href="https://github.com/samsmithnz/DevOpsMetrics">https://github.com/samsmithnz/DevOpsMetrics</a>
    </div>
</div>