@model IndexDeploymentModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="widget-host dashboard-view" style="width: 330px; height: 160px;"><div class="widget-container"><div class="content-container"><div class="build-histogram-wrapper"><a class="build-histogram-link bolt-link" href="/samsmithnz/610e9b27-3ad2-438a-8b01-f9028fee4077/_build?definitionId=35" rel="noopener noreferrer" tabindex="0"><h2 class="visual-title text-ellipsis">SamLearnsAzure-CI</h2><div class="build-histogram-widget"><div class="build-common-histogram"><ul class="histogram-items-list flex flex-row" aria-label="Chart for Build Data"><li class="histogram-items-list-item padded-item relative"><span><div class="histogram-item-container" style="padding-top: 21.5109px;"><a tabindex="0" aria-label="Build 20200502.3 succeeded yesterday (ran for 36:53)" href="https://dev.azure.com/samsmithnz/610e9b27-3ad2-438a-8b01-f9028fee4077/_build/results?buildId=3709" class="histogram-item histogram-success-color" data-is-focusable="true" style="width: 13.1px; height: 58.4891px; opacity: 1;"></a></div></span></li><li class="histogram-items-list-item padded-item relative"><span><div class="histogram-item-container" style="padding-top: 19.5783px;"><a tabindex="0" aria-label="Build 20200502.4 succeeded yesterday (ran for 38:06)" href="https://dev.azure.com/samsmithnz/610e9b27-3ad2-438a-8b01-f9028fee4077/_build/results?buildId=3710" class="histogram-item histogram-success-color" data-is-focusable="true" style="width: 13.1px; height: 60.4217px; opacity: 1;"></a></div></span></li><li class="histogram-items-list-item padded-item relative"><span><div class="histogram-item-container" style="padding-top: 15.3386px;"><a tabindex="0" aria-label="Build 20200502.5 succeeded yesterday (ran for 40:47)" href="https://dev.azure.com/samsmithnz/610e9b27-3ad2-438a-8b01-f9028fee4077/_build/results?buildId=3711" class="histogram-item histogram-success-color" data-is-focusable="true" style="width: 13.1px; height: 64.6614px; opacity: 1;"></a></div></span></li><li class="histogram-items-list-item padded-item relative"><span><div class="histogram-item-container" style="padding-top: 0px;"><a tabindex="0" aria-label="Build 20200502.6 succeeded yesterday (ran for 50:27)" href="https://dev.azure.com/samsmithnz/610e9b27-3ad2-438a-8b01-f9028fee4077/_build/results?buildId=3712" class="histogram-item histogram-success-color" data-is-focusable="true" style="width: 13.1px; height: 80px; opacity: 1;"></a></div></span></li><li class="histogram-items-list-item padded-item relative"><span><div class="histogram-item-container" style="padding-top: 14.83px;"><a tabindex="0" aria-label="Build 20200502.7 succeeded yesterday (ran for 41:06)" href="https://dev.azure.com/samsmithnz/610e9b27-3ad2-438a-8b01-f9028fee4077/_build/results?buildId=3713" class="histogram-item histogram-success-color" data-is-focusable="true" style="width: 13.1px; height: 65.17px; opacity: 1;"></a></div></span></li><li class="histogram-items-list-item padded-item relative"><span><div class="histogram-item-container" style="padding-top: 19.5378px;"><a tabindex="0" aria-label="Build 20200502.8 succeeded yesterday (ran for 38:08)" href="https://dev.azure.com/samsmithnz/610e9b27-3ad2-438a-8b01-f9028fee4077/_build/results?buildId=3714" class="histogram-item histogram-success-color" data-is-focusable="true" style="width: 13.1px; height: 60.4622px; opacity: 1;"></a></div></span></li><li class="histogram-items-list-item padded-item relative"><span><div class="histogram-item-container" style="padding-top: 15.6005px;"><a tabindex="0" aria-label="Build 20200502.9 succeeded yesterday (ran for 40:37)" href="https://dev.azure.com/samsmithnz/610e9b27-3ad2-438a-8b01-f9028fee4077/_build/results?buildId=3715" class="histogram-item histogram-success-color" data-is-focusable="true" style="width: 13.1px; height: 64.3995px; opacity: 1;"></a></div></span></li><li class="histogram-items-list-item padded-item relative"><span><div class="histogram-item-container" style="padding-top: 20.4231px;"><a tabindex="0" aria-label="Build 20200502.10 succeeded yesterday (ran for 37:34)" href="https://dev.azure.com/samsmithnz/610e9b27-3ad2-438a-8b01-f9028fee4077/_build/results?buildId=3716" class="histogram-item histogram-success-color" data-is-focusable="true" style="width: 13.1px; height: 59.5769px; opacity: 1;"></a></div></span></li><li class="histogram-items-list-item padded-item relative"><span><div class="histogram-item-container" style="padding-top: 20.2339px;"><a tabindex="0" aria-label="Build 20200502.11 succeeded yesterday (ran for 37:42)" href="https://dev.azure.com/samsmithnz/610e9b27-3ad2-438a-8b01-f9028fee4077/_build/results?buildId=3717" class="histogram-item histogram-success-color" data-is-focusable="true" style="width: 13.1px; height: 59.7661px; opacity: 1;"></a></div></span></li><li class="histogram-items-list-item padded-item relative"><span><div class="histogram-item-container" style="padding-top: 22.7719px;"><a tabindex="0" aria-label="Build 20200502.12 succeeded yesterday (ran for 36:05)" href="https://dev.azure.com/samsmithnz/610e9b27-3ad2-438a-8b01-f9028fee4077/_build/results?buildId=3718" class="histogram-item histogram-success-color" data-is-focusable="true" style="width: 13.1px; height: 57.2281px; opacity: 1;"></a></div></span></li><li class="histogram-items-list-item padded-item relative"><span><div class="histogram-item-container" style="padding-top: 20.0902px;"><a tabindex="0" aria-label="Build 20200503.1 succeeded 19h ago (ran for 37:47)" href="https://dev.azure.com/samsmithnz/610e9b27-3ad2-438a-8b01-f9028fee4077/_build/results?buildId=3719" class="histogram-item histogram-success-color" data-is-focusable="true" style="width: 13.1px; height: 59.9098px; opacity: 1;"></a></div></span></li><li class="histogram-items-list-item padded-item relative"><span><div class="histogram-item-container" style="padding-top: 19.2244px;"><a tabindex="0" aria-label="Build 20200503.2 succeeded 17h ago (ran for 38:20)" href="https://dev.azure.com/samsmithnz/610e9b27-3ad2-438a-8b01-f9028fee4077/_build/results?buildId=3720" class="histogram-item histogram-success-color" data-is-focusable="true" style="width: 13.1px; height: 60.7756px; opacity: 1;"></a></div></span></li><li class="histogram-items-list-item padded-item relative"><span><div class="histogram-item-container" style="padding-top: 14.6915px;"><a tabindex="0" aria-label="Build 20200503.3 succeeded 15h ago (ran for 41:11)" href="https://dev.azure.com/samsmithnz/610e9b27-3ad2-438a-8b01-f9028fee4077/_build/results?buildId=3721" class="histogram-item histogram-success-color" data-is-focusable="true" style="width: 13.1px; height: 65.3085px; opacity: 1;"></a></div></span></li><li class="histogram-items-list-item padded-item relative"><span><div class="histogram-item-container" style="padding-top: 18.732px;"><a tabindex="0" aria-label="Build 20200503.4 succeeded 13h ago (ran for 38:38)" href="https://dev.azure.com/samsmithnz/610e9b27-3ad2-438a-8b01-f9028fee4077/_build/results?buildId=3722" class="histogram-item histogram-success-color" data-is-focusable="true" style="width: 13.1px; height: 61.268px; opacity: 1;"></a></div></span></li><li class="histogram-items-list-item padded-item relative"><span><div class="histogram-item-container" style="padding-top: 12.3542px;"><a tabindex="0" aria-label="Build 20200503.5 succeeded 11h ago (ran for 42:40)" href="https://dev.azure.com/samsmithnz/610e9b27-3ad2-438a-8b01-f9028fee4077/_build/results?buildId=3723" class="histogram-item histogram-success-color" data-is-focusable="true" style="width: 13.1px; height: 67.6458px; opacity: 1;"></a></div></span></li><li class="histogram-items-list-item padded-item relative"><span><div class="histogram-item-container" style="padding-top: 15.5207px;"><a tabindex="0" aria-label="Build 20200503.6 succeeded 9h ago (ran for 40:40)" href="https://dev.azure.com/samsmithnz/610e9b27-3ad2-438a-8b01-f9028fee4077/_build/results?buildId=3724" class="histogram-item histogram-success-color" data-is-focusable="true" style="width: 13.1px; height: 64.4793px; opacity: 1;"></a></div></span></li><li class="histogram-items-list-item padded-item relative"><span><div class="histogram-item-container" style="padding-top: 20.1498px;"><a tabindex="0" aria-label="Build 20200503.7 succeeded 7h ago (ran for 37:45)" href="https://dev.azure.com/samsmithnz/610e9b27-3ad2-438a-8b01-f9028fee4077/_build/results?buildId=3725" class="histogram-item histogram-success-color" data-is-focusable="true" style="width: 13.1px; height: 59.8502px; opacity: 1;"></a></div></span></li><li class="histogram-items-list-item padded-item relative"><span><div class="histogram-item-container" style="padding-top: 20.3698px;"><a tabindex="0" aria-label="Build 20200503.8 succeeded with issues 5h ago (ran for 37:36)" href="https://dev.azure.com/samsmithnz/610e9b27-3ad2-438a-8b01-f9028fee4077/_build/results?buildId=3726" class="histogram-item histogram-warning-color" data-is-focusable="true" style="width: 13.1px; height: 59.6302px; opacity: 1;"></a></div></span></li><li class="histogram-items-list-item padded-item relative"><span><div class="histogram-item-container" style="padding-top: 10.1323px;"><a tabindex="0" aria-label="Build 20200503.9 succeeded 3h ago (ran for 44:04)" href="https://dev.azure.com/samsmithnz/610e9b27-3ad2-438a-8b01-f9028fee4077/_build/results?buildId=3727" class="histogram-item histogram-success-color" data-is-focusable="true" style="width: 13.1px; height: 69.8677px; opacity: 1;"></a></div></span></li><li class="histogram-items-list-item padded-item relative"><span><div class="histogram-item-container" style="padding-top: 17.2164px;"><a tabindex="0" aria-label="Build 20200503.10 succeeded 42m ago (ran for 39:36)" href="https://dev.azure.com/samsmithnz/610e9b27-3ad2-438a-8b01-f9028fee4077/_build/results?buildId=3728" class="histogram-item histogram-success-color" data-is-focusable="true" style="width: 13.1px; height: 62.7836px; opacity: 1;"></a></div></span></li></ul><div class="border-element"></div></div><div class="build-histogram-footer"><svg class="bolt-status flex-noshrink success status-icon" height="16" role="presentation" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg"><circle cx="8" cy="8" r="8"></circle><path d="M6.062 11.144l-.003-.002-1.784-1.785A.937.937 0 1 1 5.6 8.031l1.125 1.124 3.88-3.88A.937.937 0 1 1 11.931 6.6l-4.54 4.54-.004.004a.938.938 0 0 1-1.325 0z" fill="#fff"></path></svg><span class="text-ellipsis" aria-label="2h ago May 3, 2020 at 7:43 PM EDT"><time aria-hidden="true" class="bolt-time-item white-space-nowrap" datetime="2020-05-03T23:43:13.705Z">2h ago</time></span></div></div></a></div></div></div><div class="widget-host-overlay"><div class="widget-host-menu-header inline-flex-row"><button aria-label="More actions" class="configure-widget-button bolt-button bolt-icon-button enabled icon-only bolt-focus-treatment" data-focuszone="" data-is-focusable="true" role="button" tabindex="0" type="button"><span aria-hidden="true" class="left-icon flex-noshrink fabric-icon ms-Icon--More medium"></span></button></div></div></div>

@*<div class="text-center">
        <h4 class="display-4">Azure DevOps: SamLearnsAzure.CI</h4>
        <div id="menu" style="width: 330px; height: 160px;">
            <ul style="display: inline;">
                @foreach (DevOpsMetrics.Service.Models.AzureDevOpsBuild item in Model.AZList)
                {
                    if (item.status == "completed")
                    {
                        <li style="background-color: rgba(16,124,16,1); width: 13.1px; height: 60px; opacity: 1;">
                            @item.status
                        </li>
                    }
                    else
                    {
                        <li style="background-color: rgba(250,157,45,1); width: 13.1px; height: 60px; opacity: 1;">
                            @item.status
                        </li>
                    }
                }
            </ul>
        </div>
    </div>*@

@*<div class="text-center">
        <h4 class="display-4">GitHub Actions: SamsFeatureFlags.CI</h4>
        <div id="menu" style="width: 330px; height: 160px;">
            <ul style="display: inline;">
                @foreach (DevOpsMetrics.Service.Models.GitHubActionsRun item in Model.GHList)
                {
                    if (item.status == "completed")
                    {
                        <li style="background-color: rgba(16,124,16,1); width: 13.1px; height: 60px; opacity: 1;">
                            @item.status
                        </li>
                    }
                    else
                    {
                        <li style="background-color: rgba(250,157,45,1); width: 13.1px; height: 60px; opacity: 1;">
                            @item.status
                        </li>
                    }
                }
            </ul>
        </div>
    </div>*@


<head>
    <style>

        .axis {
            font: 10px sans-serif;
        }

            .axis path,
            .axis line {
                fill: none;
                stroke: #000;
                shape-rendering: crispEdges;
            }
    </style>
</head>

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
    <script>
        var margin = { top: 20, right: 20, bottom: 70, left: 40 },
            width = 600 - margin.left - margin.right,
            height = 300 - margin.top - margin.bottom;

        // Parse the date / time
        var parseDate = d3.time.format("%Y-%m").parse;
        var x = d3.scale.ordinal().rangeRoundBands([0, width], .05);
        var y = d3.scale.linear().range([height, 0]);

        var xAxis = d3.svg.axis()
            .scale(x)
            .orient("bottom")
            .tickFormat(d3.time.format("%Y-%m"));

        var yAxis = d3.svg.axis()
            .scale(y)
            .orient("left")
            .ticks(10);

        var svg = d3.select("body").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform",
                "translate(" + margin.left + "," + margin.top + ")");

        d3.csv("bar-data.csv", function (error, data) {

            data.forEach(function (d) {
                d.date = parseDate(d.date);
                d.value = +d.value;
            });

            x.domain(data.map(function (d) { return d.date; }));
            y.domain([0, d3.max(data, function (d) { return d.value; })]);

            svg.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + height + ")")
                .call(xAxis)
                .selectAll("text")
                .style("text-anchor", "end")
                .attr("dx", "-.8em")
                .attr("dy", "-.55em")
                .attr("transform", "rotate(-90)");

            svg.append("g")
                .attr("class", "y axis")
                .call(yAxis)
                .append("text")
                .attr("transform", "rotate(-90)")
                .attr("y", 6)
                .attr("dy", ".71em")
                .style("text-anchor", "end")
                .text("Value ($)");

            svg.selectAll("bar")
                .data(data)
                .enter().append("rect")
                .style("fill", "steelblue")
                .attr("x", function (d) { return x(d.date); })
                .attr("width", x.rangeBand())
                .attr("y", function (d) { return y(d.value); })
                .attr("height", function (d) { return height - y(d.value); });

        });

    </script>
</body>