@using DevOpsMetrics.Service.Models.Common
@model List<LeadTimeForChangesModel>
@{
    ViewData["Title"] = "Home Page";
}

<h2>Lead time for changes</h2>
<div class="row">
    @foreach (LeadTimeForChangesModel item in Model)
    {
        <div class="col-md-6">
            @await Html.PartialAsync("_LeadTimeForChanges", item)
        </div>
    }
</div>