@model IndexDeploymentModel;
@{
    ViewData["Title"] = "Lead time for changes";
}

<div class="row">
    @foreach (PartialViewDeploymentModel item in Model.Items)
    {
    <div class="col-md-6">
        @if (item.AZDeploymentFrequency != null)
        {
            @await Html.PartialAsync("_AzureDevOpsDeployments", item)
        }
        else if (item.GHDeploymentFrequency != null)
        {
            @await Html.PartialAsync("_GitHubDeployments", item)
        }
    </div>
    }
</div>