@using DevOpsMetrics.Service.Models.Common
@model ProjectViewModel
@{
    ViewData["Title"] = "Project summary";
}

<h2>@Model.ProjectName project summary</h2>
<div class="row">
    <div class="col-md-6">
        @await Html.PartialAsync("_Deployments", Model.DeploymentFrequency)
    </div>
    <div class="col-md-6">
        @await Html.PartialAsync("_LeadTimeForChanges", Model.LeadTimeForChanges)
    </div>
    <div class="col-md-6">
        @await Html.PartialAsync("_MeanTimeToRestore", Model.MeanTimeToRestore)
    </div>
    <div class="col-md-6">
        @await Html.PartialAsync("_ChangeFailureRate", Model.ChangeFailureRate)
    </div>
</div>
