@using DevOpsMetrics.Service.Models.Common
@model ProjectViewModel
@{
    ViewData["Title"] = "Project summary";
}

<h2>@Model.projectName project summary</h2>
<div class="row">
    <div class="col-md-6">
        @await Html.PartialAsync("_Deployments", Model.deploymentFrequencyModel)
    </div>
    <div class="col-md-6">
        @await Html.PartialAsync("_LeadTimeForChanges", Model.leadTimeForChangesModel)
    </div>
    <div class="col-md-6">
        @await Html.PartialAsync("_MeanTimeToRestore", Model.meanTimeToRestoreModel)
    </div>
    <div class="col-md-6">
        @await Html.PartialAsync("_ChangeFailureRate")
    </div>
</div>
