<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>

  <!-- Parameters used by tests at runtime -->
  <TestRunParameters>
    <Parameter name = "ServiceUrl" value="https://devopsmetrics-prod-eu-service-staging.azurewebsites.net/" />
    <Parameter name = "WebsiteUrl" value="https://devopsmetrics-prod-eu-web-staging.azurewebsites.net/" />
  </TestRunParameters>

</RunSettings>