
@* HTML based on example at https://codepen.io/vmz/pen/GpKbjm*@
<div class="chartContainer vertical flat">
    <h4></h4>
        <div style="height:100px">
            <span>The change failure rate metric has not yet been implemented</span>
        </div>
</div>
<br />
