@{
    ViewData["Title"] = "Add GitHub settings";
}

<div class="row">
    <div class="col-md-12">
        <h2>Add new GitHub setting</h2>
        <br />
        <span style="color: red">Note: This is a POC. Please don't put your secrets/PAT tokens in here. While they are safely stored in an Azure Key Vault - I can still see them, and I don't want to have access to your secrets. Besides - you don't know me. Be smart. Only upload secrets to a website with a verified publisher or one you control.</span>
        <br />
        <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="UpdateGitHubSetting">
            <h3><img src="~/images/GitHub-icon.png" style="width:32px;" alt="GitHub icon" />&nbsp; GitHub</h3>
            <a href="@Url.Action("AddGitHubSetting","Home")">Add new GitHub setting</a><br />
            <table class="table table-striped table-bordered">
                <tr>
                    <td>
                        Client id:
                    </td>
                    <td>
                        <input name="clientId" type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Client secret:
                    </td>
                    <td>
                        <input name="clientSecret" type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Owner:
                    </td>
                    <td>
                        <input name="owner" type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Repo:
                    </td>
                    <td>
                        <input name="repo" type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Branch:
                    </td>
                    <td>
                        <input name="branch" type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Workflow Name:
                    </td>
                    <td>
                        <input name="workflowName" type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Workflow Id: (use https://api.github.com/repos/{owner}/{repo}/actions/workflows to get id)
                    </td>
                    <td>
                        <input name="workflowId" type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Resource Group:
                    </td>
                    <td>
                        <input name="resourceGroup" type="text" />
                    </td>
                </tr>
            </table>
            <input name="showSetting" type="hidden" value="true" />

            <input type="submit" value="Add new setting" />
        </form>
    </div>
</div>