@using DevOpsMetrics.Core.Models.Common
@model List<DeploymentFrequencyModel>
@{
    ViewData["Title"] = "Deployment frequency";
}

<h2>Deployment frequency</h2>
@*Number of days: <select></select><br />*@
<div class="row">
    @foreach (DeploymentFrequencyModel item in Model)
    {
        <div class="col-md-6">
            @await Html.PartialAsync("_Deployments", item)
        </div>
    }
</div>
<div class="row">
    <div class="col-md-12" style="font-size: 10pt;">
        <hr />
        <b>Deployment frequency performance rating table</b><br />
        <table class="table table-bordered">
            <tr>
                <th>Description</th>
                <th>Elite</th>
                <th>High</th>
                <th>Medium</th>
                <th>Low</th>
            </tr>
            <tr>
                <td>For the primary application or service you work on, how often does your organization deploy code to production or release it to end users</td>
                <td>Multiple deploys per day</td>
                <td>Between once per day and once per week</td>
                <td>Between once per week and once per month</td>
                <td>Between once per month and once every six months</td>
            </tr>
        </table>
    </div>

    <div class="col-md-12" style="font-size: 10pt;">
        <hr />
        <b>FAQ</b><br />
        <b>What am I looking at?</b><br />
        Deployment Frequency is a high performing DevOps metric to measure the number of deployments to production. This page helps us to measure it across various projects in both Azure DevOps and GitHub<br />
        <b>How does it work?</b><br />
        We look at the number of successful pipeline runs<br />
        <b>Assumptions/things we can't currently measure:</b><br />
        - The build is multi-stage, and leads to a deployment in a production environment.<br />
        - We only look at a single branch (usually the main branch), hence we ignore feature branches (as these probably aren't deploying to production)<br />
        <br />
    </div>

</div>