@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<a href="https://github.com/samsmithnz/DevOpsMetrics">GitHub/source code</a>


