@using DevOpsMetrics.Core.Models.Common
@model ProjectViewModel
@{
    ViewData["Title"] = "Project summary";
}
@if (Model != null)
{
    string widgetImageName = "";
    string widgetName = "";
    if (Model.TargetDevOpsPlatform == DevOpsPlatform.AzureDevOps)
    {
        widgetImageName = "AzureDevops-icon.png";
        widgetName = "Azure DevOps";
    }
    else if (Model.TargetDevOpsPlatform == DevOpsPlatform.GitHub)
    {
        widgetImageName = "GitHub-icon.png";
        widgetName = "GitHub";
    }
    else
    {
        widgetImageName = "Unknown-icon.png";
        widgetName = "Unknown";
    }
    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="ProjectUpdate">
        <h2><img src="~/images/@widgetImageName" style="width:32px;" alt="Widget image name" />&nbsp; @widgetName - @Model.ProjectName high performing DevOps metrics</h2>
        <div class="metricSpan">
            <br />
            <input type="hidden" name="RowKey" value="@Model.RowKey" />
            <span>Days to display: </span><select asp-for="NumberOfDaysSelected" asp-items="Model.NumberOfDays" style="width: 100px;" onchange="this.form.submit()"></select>
        </div>
        <div class="row">
            <div class="col-md-6">
                @await Html.PartialAsync("_Deployments", Model.DeploymentFrequency)
            </div>
            <div class="col-md-6">
                @await Html.PartialAsync("_LeadTimeForChanges", Model.LeadTimeForChanges)
            </div>
            <div class="col-md-6">
                @await Html.PartialAsync("_MeanTimeToRestore", Model.MeanTimeToRestore)
            </div>
            <div class="col-md-6">
                @await Html.PartialAsync("_ChangeFailureRate", Model.ChangeFailureRate)
            </div>
        </div>
    </form>
}
else
{
    <div class="row">
        <div class="col-md-6">
            Project not found
        </div>
    </div>
}
